{% extends "base.html.twig" %}
    {% block title %}
            <h1>Création d'une Nouvelle Page</h1>
    {% endblock %}

    {% form_theme form 'ad/_collection.html.twig' %}

    {% block body %}

        <div class="container">
            <h1>Bonjour</h1>
            {{ form_start(form) }}

                {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary">Crée une annonce</button>
                
            {{ form_end(form) }}
        </div>
{% endblock %}



{% block javascripts %}

    <script scr="/js/add.js"></script>

{% endblock %}

